.js-console {
  margin: 0;
}
body .js-console {
  margin: 0;
  padding: 5px 10px;
  background-color: black;
  width: 800px;
  height: 500px;
  font-family: Consolas;
  font-size: 18px;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  word-break: break-all;
}
body .js-console > p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
}
body .js-console > p > span {
  margin: 0;
  padding: 0;
}
body .js-console > p > br {
  display: inline-block;
  margin-bottom: 5px;
}
input[type=text] {
  border:1px solid black;
  padding:5px 15px;
  background-color:black;
  color:white;
  font-family:Consolas;
  margin-bottom:5px;
}

a {
  color:black;
  border:1px solid black;
  padding:5px 15px;
  text-decoration:none;
  display:inline-block;
  margin: 15px 0;
}

a:hover{
  text-decoration:underline;
}
